## Preprocessing

In [1]:
# Module 21 Deep Learning Challenge
# Vincent Passanisi
# UCI Data Analytics Bootcamp
# Assignment due March 20, 2023

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.shape

(34299, 12)

In [3]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [4]:
application_df.describe()

                EIN        STATUS       ASK_AMT  IS_SUCCESSFUL
count  3.429900e+04  34299.000000  3.429900e+04   34299.000000
mean   5.191852e+08      0.999854  2.769199e+06       0.532406
std    2.451472e+08      0.012073  8.713045e+07       0.498956
min    1.052060e+07      0.000000  5.000000e+03       0.000000
25%    2.748482e+08      1.000000  5.000000e+03       0.000000
50%    4.656317e+08      1.000000  5.000000e+03       1.000000
75%    7.526117e+08      1.000000  7.742000e+03       1.000000
max    9.960869e+08      1.000000  8.597806e+09       1.000000

In [5]:
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [7]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [8]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = counts.loc[counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = class_counts.loc[class_counts > 1]
classifications_to_replace

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = class_counts.loc[class_counts < 1000].index
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_dummies = pd.get_dummies(application_df)

In [15]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df_dummies['IS_SUCCESSFUL']
X = application_df_dummies.drop(columns=['IS_SUCCESSFUL'], inplace=False)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5, random_state=1)
X.shape

(34299, 43)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=43))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 433
Trainable params: 433
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
536/536 [==============================] - 1s 785us/step - loss: 0.6429 - accuracy: 0.6673
Epoch 2/50
536/536 [==============================] - 0s 781us/step - loss: 0.5705 - accuracy: 0.7195
Epoch 3/50
536/536 [==============================] - 0s 790us/step - loss: 0.5609 - accuracy: 0.7242
Epoch 4/50
536/536 [==============================] - 0s 764us/step - loss: 0.5567 - accuracy: 0.7283
Epoch 5/50
536/536 [==============================] - 0s 715us/step - loss: 0.5543 - accuracy: 0.7290
Epoch 6/50
536/536 [==============================] - 0s 735us/step - loss: 0.5534 - accuracy: 0.7288
Epoch 7/50
536/536 [==============================] - 0s 775us/step - loss: 0.5516 - accuracy: 0.7302
Epoch 8/50
536/536 [==============================] - 0s 766us/step - loss: 0.5504 - accuracy: 0.7312
Epoch 9/50
536/536 [==============================] - 0s 805us/step - loss: 0.5499 - accuracy: 0.7308
Epoch 10/50
536/536 [==============================] - 0s 777us/step - loss: 0.5491 - accuracy: 0.7323
Epoch 11/50
536/536 [==============================] - 0s 710us/step - loss: 0.5487 - accuracy: 0.7333
Epoch 12/50
536/536 [==============================] - 0s 692us/step - loss: 0.5482 - accuracy: 0.7332
Epoch 13/50
536/536 [==============================] - 0s 695us/step - loss: 0.5477 - accuracy: 0.7335
Epoch 14/50
536/536 [==============================] - 0s 724us/step - loss: 0.5471 - accuracy: 0.7341
Epoch 15/50
536/536 [==============================] - 0s 727us/step - loss: 0.5474 - accuracy: 0.7332
Epoch 16/50
536/536 [==============================] - 0s 698us/step - loss: 0.5470 - accuracy: 0.7333
Epoch 17/50
536/536 [==============================] - 0s 736us/step - loss: 0.5466 - accuracy: 0.7344
Epoch 18/50
536/536 [==============================] - 0s 720us/step - loss: 0.5466 - accuracy: 0.7339
Epoch 19/50
536/536 [==============================] - 0s 700us/step - loss: 0.5461 - accuracy: 0.7342
Epoch 20/50
536/536 [==============================] - 0s 718us/step - loss: 0.5459 - accuracy: 0.7353
Epoch 21/50
536/536 [==============================] - 0s 677us/step - loss: 0.5456 - accuracy: 0.7351
Epoch 22/50
536/536 [==============================] - 0s 691us/step - loss: 0.5456 - accuracy: 0.7346
Epoch 23/50
536/536 [==============================] - 0s 720us/step - loss: 0.5453 - accuracy: 0.7361
Epoch 24/50
536/536 [==============================] - 0s 684us/step - loss: 0.5451 - accuracy: 0.7346
Epoch 25/50
536/536 [==============================] - 0s 703us/step - loss: 0.5446 - accuracy: 0.7353
Epoch 26/50
536/536 [==============================] - 0s 687us/step - loss: 0.5448 - accuracy: 0.7330
Epoch 27/50
536/536 [==============================] - 0s 687us/step - loss: 0.5449 - accuracy: 0.7346
Epoch 28/50
536/536 [==============================] - 0s 695us/step - loss: 0.5447 - accuracy: 0.7351
Epoch 29/50
536/536 [==============================] - 0s 684us/step - loss: 0.5446 - accuracy: 0.7346
Epoch 30/50
536/536 [==============================] - 0s 717us/step - loss: 0.5446 - accuracy: 0.7346
Epoch 31/50
536/536 [==============================] - 0s 688us/step - loss: 0.5440 - accuracy: 0.7364
Epoch 32/50
536/536 [==============================] - 0s 690us/step - loss: 0.5442 - accuracy: 0.7359
Epoch 33/50
536/536 [==============================] - 0s 733us/step - loss: 0.5442 - accuracy: 0.7353
Epoch 34/50
536/536 [==============================] - 0s 711us/step - loss: 0.5438 - accuracy: 0.7358
Epoch 35/50
536/536 [==============================] - 0s 690us/step - loss: 0.5440 - accuracy: 0.7342
Epoch 36/50
536/536 [==============================] - 0s 715us/step - loss: 0.5438 - accuracy: 0.7357
Epoch 37/50
536/536 [==============================] - 0s 683us/step - loss: 0.5435 - accuracy: 0.7353
Epoch 38/50
536/536 [==============================] - 0s 698us/step - loss: 0.5438 - accuracy: 0.7361
Epoch 39/50
536/536 [==============================] - 0s 682us/step - loss: 0.5438 - accuracy: 0.7346
Epoch 40/50
536/536 [==============================] - 0s 692us/step - loss: 0.5434 - accuracy: 0.7350
Epoch 41/50
536/536 [==============================] - 0s 698us/step - loss: 0.5435 - accuracy: 0.7345
Epoch 42/50
536/536 [==============================] - 0s 720us/step - loss: 0.5435 - accuracy: 0.7345
Epoch 43/50
536/536 [==============================] - 0s 683us/step - loss: 0.5433 - accuracy: 0.7364
Epoch 44/50
536/536 [==============================] - 0s 701us/step - loss: 0.5431 - accuracy: 0.7366
Epoch 45/50
536/536 [==============================] - 0s 690us/step - loss: 0.5432 - accuracy: 0.7353
Epoch 46/50
536/536 [==============================] - 0s 701us/step - loss: 0.5433 - accuracy: 0.7367
Epoch 47/50
536/536 [==============================] - 0s 686us/step - loss: 0.5429 - accuracy: 0.7352
Epoch 48/50
536/536 [==============================] - 0s 748us/step - loss: 0.5432 - accuracy: 0.7359
Epoch 49/50
536/536 [==============================] - 0s 687us/step - loss: 0.5428 - accuracy: 0.7382
Epoch 50/50
536/536 [==============================] - 0s 689us/step - loss: 0.5426 - accuracy: 0.7371

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

536/536 - 0s - loss: 0.5578 - accuracy: 0.7232 - 336ms/epoch - 628us/step
Loss: 0.5577878952026367, Accuracy: 0.7232069969177246

In [21]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
print("The model is saved to HDF5 format")
nn.save('AlphabetSoupCharity_Optimization.h5')
print("The same model is recreated with same weights and optimizer")
new_nn = tf.keras.models.load_model('AlphabetSoupCharity_Optimization.h5')
print("The architecture of the model is observed")
new_nn.summary()

The model is saved to HDF5 format
The same model is recreated with same weights and optimizer
The architecture of the model is observed
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 433
Trainable params: 433
Non-trainable params: 0
_________________________________________________________________